#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}




.Envoirment_li{


    margin-top: 13px;


}

.Envoirment_li h4 {


    border-bottom: 1px solid chocolate; 
    
    padding: 8px;

      
}

.Envoirment_li img {


    border-radius: 25px;


}


.Envoirment_li p {

 
    margin-top: 10px;

}



#contact iframe {


    width: 100%;


}

.contact_1 h3 {


    display:inline;
}

.contact_1 a {


   
    text-shadow: none;

}


.BOOKS{

    cursor : pointer;

}

.BOOKS hr {

    margin: bottom 10px;



}

.modal-content {

    margin-top: 100px;

}

.img-modal {

    display: inline-block;
}
.p_modal {

    margin-top: 10px;

}

.modal-body{

    text-align: center ;
}

